/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CORPO DO SITE */
/* cor do fundo */
body{
  background-color: rgb(106, 108, 233);
  padding: 40px;
  font-family: "Orbitron", sans-serif;
}


/* CONTAINER PRINCIPAL */
.container{
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/* TÍTULO */
.titulo{
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  margin-bottom: 20px;
  color: #ffcc00;
}

/* SUBTÍTULO */
.subtitulo{
  font-family: "Orbitron", sans-serif;
  color: #ffcc00;
  margin-bottom: 40px;
  font-size: 18px;
}

/* ÁREA DOS CARDS */
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* CARD */
.card{
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

/* EFEITO AO PASSAR O MOUSE */
.card:hover{
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* FOTO */
.foto{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid #0077ff;
}

/* NOME */
.nome{
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  color: #222;
  margin-bottom: 10px;
}

/* FUNÇÃO */
.funcao{
  font-family: "Orbitron", sans-serif;
  color: #777;
  font-size: 15px;
}

/* RESPONSIVIDADE */
@media(max-width: 768px){

  body{
    padding: 20px;
  }

  .titulo{
    font-size: 25px;
    line-height: 1.5;
  }

  .subtitulo{
    font-size: 15px;
  }

  .nome{
    font-size: 14px;
  }

}